/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 100vh;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  color: #091e39;
}

.heroTitle {
  background: linear-gradient(90deg, #081B34 0%, #25ADFC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
